
{{> head }}

   {{> navbar }}
   <div class="row">
    <div class="col-8">  
        <h1>IroMan</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iste a quod nihil optio, autem, quis necessitatibus culpa saepe ipsum pariatur unde? Iusto doloremque voluptas laudantium veniam quos sed molestias?</p>
    <div class="col-4">
        <img src="assets/img/iroman.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}